* {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  box-sizing: border-box;
  border-style: none;
  text-decoration: none;
  transition: 0.5s;
}

:root {
  --text-color: #1d2c3c;
  --border-color: #e0e6ea;
  --border-color-2: #f5f7fa;
  --background-color: #f5f8fa;
  --placeholder-color: #edeff2;
  --btn-color: #038e7d;
  --right-color: #1179bf;
  --right-border-color: #b9f5ff;
}

body {
  background-color: var(--background-color);
  height: 100vh;
}

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: var(--btn-color);
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 28px 40px 0;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 30px;
  align-items: center;
}

.logo {
  width: 200px;
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 42px;
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: -0.01px;
}

nav ul li a {
  color: var(--text-color);
}

nav ul {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav ul li button {
  height: 40px;
  width: 91px;
  border: 2px solid #646e7a;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: -0.01px;
  color: var(--text-color);
  cursor: pointer;
}

#checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 139px;
  gap: 33px;
}

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  box-shadow: 0px 5px 15px 0px #0000000d;
  box-shadow: 0px 15px 35px 0px #2b404e18;
  border-radius: 10px;
}

.form_container {
  background-color: white;
  width: 580px;
  border-radius: 10px 0px 0px 10px;
}

.title_box {
  border-bottom: 2px solid var(--border-color-2);
}

.checkout_title {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  padding: 41px 48px 24px 48px;
  text-shadow: 2px 2px 6px #00000050;
}

.section_1,
.section_2 {
  padding: 34px 49px 41px 47px;
  border-bottom: 2px solid var(--border-color-2);
}
/* check justify content */
.section_3 {
  display: flex;
  flex-direction: column;
  margin: 39px 49px 46.9px 49px;
  width: 483px;
  align-items: center;
  justify-content: center;
}

.section_title,
.support {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 13px;
}

.input_line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.input_container.credit_card_info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0px;
}

.input_line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  display: flex;
  border-radius: 5px;
  height: 36px;
  font-weight: 400;
  background-color: var(--placeholder-color);
  padding: 5px 13px;
  margin: 7px 0;
  cursor: pointer;
}

input[type="text"]#credit_card {
  border-radius: 3px 0 0 3px;
  justify-content: center;
}

input[type="text"]#exp_date {
  border-radius: 0;
}

input[type="text"]#cvc {
  border-radius: 0 3px 3px 0;
}

input::placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  padding: 10px 13px 27px 10px;
}

.section_wrapper {
  display: flex;
  justify-content: center;
}

.support_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.01px;
  padding: 23px 0 21px 0;
}

.buy_btn {
  width: 100%;
  padding: 14px;
  border-radius: 5px;
  background-color: var(--btn-color);
}

button a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.4px;
}

.detail_container {
  background-color: var(--right-color);
  width: 312px;
  border-radius: 6px, 0px, 0px, 6px;
  color: white;
  border-radius: 0px 10px 10px 0px;
}

.detail_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 42px 44px 0 37px;
}

.purchased_plan {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01px;
  padding-bottom: 5px;
}

.purchased_plan_price {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  padding-bottom: 3px;
}

span.currency {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -0.01px;
  padding-top: 13px;
}

.price {
  font-size: 60px;
  font-weight: 300;
  line-height: 72px;
  letter-spacing: -0.01px;
}

.duration {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.01px;
}

.product_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01px;
  font-style: italic;
}

.product_details,
.product_offering_list,
.upsell {
  padding-bottom: 36px;
}

.product_offering_list ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.product_offering_list ul li {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-content: center;
}

.upsell_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.01px;
}

.testimonial {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01px;
}

.testimonial_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.testimonial_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -0.01px;
}

footer {
  color: #636b6f;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}

footer a {
  color: #31708f;
}
